@model DP.Web.Models.Complainer

@{
    ViewData["Title"] = "Complainer'sDetails";
    var photoPath = "/Images/" + (Model.ImageUpload ?? "pic29.jpg");
}

<h1>Your Details</h1>


    <h4>Complainer</h4>
    <hr />
<div class="row justify-content-center m-3" >
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                 @Html.DisplayNameFor(model => model.FirstName) - @Html.DisplayFor(model => model.FirstName)<br />
                 @Html.DisplayNameFor(model => model.LastName) -  @Html.DisplayFor(model => model.LastName)
            </div>
            <div class="card-body text-center">
                @Html.DisplayNameFor(model => model.NickName) - @Html.DisplayFor(model => model.NickName)<br />
                @Html.DisplayNameFor(model => model.FathersName) - @Html.DisplayFor(model => model.FathersName)<br />
                @Html.DisplayNameFor(model => model.AadharNumber) -  @Html.DisplayFor(model => model.AadharNumber)<br />
                 <img class="card-img-top" src="@photoPath" runat="server" /><br />
               
                 @Html.DisplayNameFor(model => model.Email) - @Html.DisplayFor(model => model.Email)<br />
                 @Html.DisplayNameFor(model => model.Gender) - @Html.DisplayFor(model => model.Gender)<br />
                 @Html.DisplayNameFor(model => model.MaritalStatus) - @Html.DisplayFor(model => model.MaritalStatus)<br />
                  @Html.DisplayNameFor(model => model.DateOfBirth) - @Html.DisplayFor(model => model.DateOfBirth)<br />
                   @Html.DisplayNameFor(model => model.PhoneNumber) - @Html.DisplayFor(model => model.PhoneNumber)<br />
                    @Html.DisplayNameFor(model => model.HouseNumber) - @Html.DisplayFor(model => model.HouseNumber)<br />
                    @Html.DisplayNameFor(model => model.Village) -  @Html.DisplayFor(model => model.Village)<br />
                    @Html.DisplayNameFor(model => model.PostOffice) - @Html.DisplayFor(model => model.PostOffice)<br />
                    @Html.DisplayNameFor(model => model.PinCode) - @Html.DisplayFor(model => model.PinCode)<br />
                    @Html.DisplayNameFor(model => model.District) - @Html.DisplayFor(model => model.District)<br />
                    @Html.DisplayNameFor(model => model.State) -  @Html.DisplayFor(model => model.State)<br />
                     @Html.DisplayNameFor(model => model.Country) - @Html.DisplayFor(model => model.Country)
         </div>
         <div class="card-footer text-center">
             @*<a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.ComplainerId">Edit</a> |*@
             <a class="btn btn-outline-dark" asp-controller="Incidents" asp-action="Create">Proceed To Next Step</a>
         </div>
        </div>
    </div>
    
        
</div>

    
   @* <a class="btn btn-danger" asp-action="Index">Back to List</a>*@

