@model DP.Web.Models.ComplaintAssignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComplaintAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complainer.AadharNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicemenDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicemenDetail.AadharNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAssigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsResolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsResolved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintResolvedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintResolvedDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-outline-danger" asp-action="Index">Back to List</a>
</div>
